<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savings</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
</head>
<body>
    <div class="col-6 container px-4 bg-body-tertiary">
        <form action="" method="post">
            {% csrf_token %}
            
            <div class="row fw-bold">
            <label for="">Name</label>
            <input name="name" type="text" required placeholder="Name">
        </div>
        <div class="row fw-bold">

            <label for="">Occupation</label>
            <input name="occupation" type="text" >
        </div>
        <div class="row fw-bold">
            <label for="">Amount</label>
            <input type="number" name="amount" id="">
        </div>
        <div class="row fw-bold">
            <label for="">Date</label>
            <input type="date" name="date" id="">
        </div>
        <div class="row fw-bold">

            <label for="">Transaction id</label>
            <input type="text" name="transaction id" id="">
        </div>

            <input type="submit" value="Submit">
        </form>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous"></script>
</body>
</html>